.h2_subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
}

.item_contact {
  color: #000;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 2.5em;
}

.item_contact:hover {
  color: #716b70;
}

.link:hover {
  text-decoration: none;
}

.link {
  font-size: 1.1rem;
}


